@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../image/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.section form {
    color: #f5c2e7;
    background-color: #1e2030;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    width: 450px;
    border-radius: 10px;
    padding: 30px;
}

.section input {
    background-color: #585b70;
    color: #eff1f5;
    font-size: 'JetBrains Mono', monospace;
    font-style: italic;
    font-weight: 600;
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 4px;
}

.section a {
    color: #ef9f76;
}

.section a:active {
    color: #8caaee;
}

/* .section button {
    color: #11111b;
    float: right;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #dd7878;
    margin-top: 20px;
} */

button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    float: right;
}

button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);

}

.error {
    color: #e64553;
}

.section .success {
    color: #8caaee;
    margin-bottom: 20px;
}