@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-image: url('../image/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background-img {
  display: none;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    color: #f5c2e7;
    background-color: #1e2030;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    padding-bottom: 10px;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
}

input {
    background-color: #585b70;
    color: #eff1f5;
    font-size: 'JetBrains Mono', monospace;
    font-style: italic;
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 4px;
}

button {
    color: #11111b;
    float: right;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #dd7878;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

.error {
    color: #e64553;
}

.success {
    color: #a6e3a1;
}

img:hover {
    opacity: 0.5;
}

img:active {
    opacity: 0.2;
}

a {
    color: #ef9f76;
}

a:active {
    color: #8caaee;
}