@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('../image/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 50px;

}

form {
    color: #f5c2e7;
    background-color: #1e2030;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
}

input {
    background-color: #585b70;
    color: #eff1f5;
    font-style: italic;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

#video_link {
    width: 95%;
}

form button {
    font-family: 'JetBrains Mono', monospace;
    color: #11111b;
    float: right;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #dd7878;
}

form button:hover {
    opacity: 0.8;
}

form button:active {
    opacity: 0.4;
}

.button {
    padding: 10px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ; /* Add a smooth transition */
    float: right;
}

.button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}